/* @group Layout */
/* elastic except for images */
article, aside, figure, footer, header, hgroup, menu, nav, section{display:block;}

html {width:100%;text-align:center;background:transparent url(/images/bg.jpg);}
body {position:relative;width:98em;margin:0 auto;text-align:left;}
#wrapper {margin-top:2.4em;background-color:#fff;}
h1.logo {float:left;margin-top:3.4em;margin-left:2em;}

nav#site {float:right;width:66em;margin-top:8.5em;}
nav#member {position:absolute;top:2.4em;right:0;margin:0;}
nav#member p {margin:0;}
nav#member a.logged_in {margin-right:2em;}

nav#breadcrumbs ul {margin-top: 0; margin-bottom: -.667em;margin-left: 1.667em;}
nav#breadcrumbs li {display: inline; padding-right: 3px;}
nav#breadcrumbs li a { padding-right: 2px; }

#content {clear:both;padding:1.8em 0;}
#main{float:left;width:64.2em;}
#main article {margin-left:2em;padding:2.4em 1.8em 2.4em 1em;border-bottom:1px dotted #666;}
.pages #main article {padding-top: 0;padding-left: 0;border: none;}
#main article.frame header {float:right;width:36em;}
#main article.frame p {float:right;width:30em;/* 365px in 12pt context */}
#main article.frame img {float:left;width:220px;}

body.team #main section header {margin-left: 2em;}
body.profile #main section header {float: left; width: 14.2em;}
body.profile #main section header img {margin-top: 1.8em;}
body.profile #main section table {float: right; width: 44em;margin-top: 5.6em; margin-right: 2em;}
body.profile #main section th {width: 8em;}
 
body.events #main section header{margin-left:2em;}
body.events #main section article header{margin-left:0;}

body.archives #main h3 {margin-left: 1.42em;}
body.article #main article { margin-top: 1.667em; padding-top: 1.5em; border-top: 1px dotted #666; border-bottom: none; }
/*body.article #main article img { max-width: 596px; }*/

body.events.article #main article { border-top: none; padding-top: 0;}
body.events.article #main ul.sponsors {margin: 0; list-style: none;}
body.events.article #main li.sponsor {float: left; display: block; margin-top: 1.2em; margin-right: 1.2em;}
body.events.article #main li.sponsor:nth-child(3) {margin-right: 0 !important;}
body.events.article #main li.sponsor div.logo {float: none;display: table-cell;width: 186px;height: 130px;border: 1px solid #e5e5e5;text-align: center;vertical-align: middle;}


body.sponsors #main article {float: left; width: 188px; border: none; padding-right: 0; padding-bottom: 0; padding-left: 0; }
body.sponsors #main article h3 {margin-top: 0; margin-bottom: 1.2em;} 
body.sponsors #main article div.logo {display: table-cell;width: 186px;height: 130px;border: 1px solid #e5e5e5;text-align: center;vertical-align: middle;}
body.sponsors #main article.title {float: none; width: 604px; padding-right: 1.8em;}
body.sponsors #main article.title div {float: right; margin-top: -3.6em;}
body.sponsors #main article.title div.logo {float: none;width: 282px;height: 198px;}
body.sponsors #main article.title h3 {width: 18.1875em;} 
body.sponsors #main article.title p {width: 24.25em; }

#content aside {float:right;width:30em;margin-right:2em;}
#content aside nav div, 
#content aside section div {padding:1.8em;padding-bottom:0;border:1px solid #bfbfbf;border-top:none;}
#content aside nav.archives ul {margin-top:0;padding:1.33em 1.8em;border:1px solid #bfbfbf;}
#content aside section.events div {padding-bottom:2.7em;}
#content aside section.events header {position:relative;border-bottom:1px dotted #7f7f7f;}
#content aside section.events header p {position:absolute;top:0;right:0;margin:0;}
#content aside section.events article p {margin-top:0;}
#content aside div.sponsors ul {margin-top:0;}
#content aside div.sponsors li {text-align:center;}
#content aside nav.join a {display:block;height:158px;background:transparent url(/images/bg-join.jpg) no-repeat 1px top;}
#gallery, #banner {margin-left:2em;}
#banner { margin-top: 1.5em; }

#site_info {clear:both;background:#34b6e6 url(/images/bg-site-info.png) no-repeat 32em top;padding-bottom:3em;}
#site_info nav, 
#site_info div {float:left;}
#site_info nav.logo {width:32em;margin-right:2em;}
#site_info div {width:28em;margin-right:2em;}
#site_info nav.logo img {margin-top:3em;margin-left:5.3em;}
#site_info nav.sponsor, 
#site_info nav.follow {width:12em;padding:0 1em;margin-left:2em;}
#site_info nav.follow li {display:inline;margin-right:.83em;}
#site_info nav.follow a {opacity:.85;-webkit-transition:all 388ms ease-out;-o-transition:all 388ms ease-out;}
#site_info nav.follow a:hover {opacity:1;}
footer {padding-bottom:1.8em;}
footer #rights {float:left;margin-left:1.67em;}
footer nav#supp ul {float:right;width:39.1em;}
footer nav#supp li {display:inline;margin-right:1.67em;}

img {vertical-align:bottom;}
/* @end */

/* @group Typography */
body {font-size:10px;font-family:Helvetica, Arial, "Lucida Grande", Verdana, Lucida, sans-serif;}

h2 {font-size:2.2em;/* 22px */line-height:1.6364em;/* 36px */margin-top:0.8182em;margin-bottom:0;font-weight:500;}
#content h2 {color:#fff;padding:.25em 0 .25em .9em;}
#content #main h2 {background-color:#18b6e7;}
#content aside h2 {border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;-webkit-border-bottom-right-radius:0;-webkit-border-bottom-left-radius:0;background-color:#0079be;}
#homepage #content aside section.events h2 {margin-top:0;}
#content aside h2.sponsors {background-color:#f18c3a;}
#site_info nav.sponsor h2, 
#site_info nav.follow h2 {font-size:1.6em;margin-top:1.7em;}

h3 {font-size:1.6em;/* 16px */ line-height:1.125em;/* 18px */ margin-top:1.125em;margin-bottom:0;}
#content aside .races h3 {margin-top:.5em;}
#content aside .rides h3 {margin-top:1.5em;}

h4 {font-size:1.3em;/* 13px */ line-height:1.3846em;/* 18px */ margin-top:1.3846em;margin-bottom:0;}
#content aside section.events h4 {font-size: 1.4em;	line-height: 1.2857em;/* 18px */ margin-top: 1.5em;}

body.team #main header h3,
body.events #main header h3 {margin-top:1.6875em;color:#231f20;}
body.events #main article header h4 {margin-top:0;font-size:1.6em;}

body.archives #main article header h4 {margin-top:0;font-size:1.6em;}

p, ul, th, td, time {font-size:1.2em;/* 12px */ line-height:1.5em;/* 18px */ margin-top:1.5em;margin-bottom:0; color: #444;}
td p {font-size: 1em; margin-top: 0;}
#main article ul {margin-left: 1.8em;}
#main article li {list-style: disc;}

body.events #main article header p {margin-top:0;}

a:link, a:visited {color:#18b6e7;}
a:hover, a:active {color:#0099c8;text-decoration:none;}
header h3 a:link, 
header h3 a:visited {color:#00242f;}
header h3 a:hover, 
header h3 a:active {color:#000;}

#content aside nav.archives li {font-size: 1.1667em;line-height: 1.92em;list-style:disc;margin-left:1.28em;}
#content aside section.events header a {text-decoration:none;}
#content aside nav.join a {opacity:.85;text-decoration:none;text-align:center;color:#d2f4ff;-webkit-transition:all 388ms ease-out;-o-transition:all 388ms ease-out;}
#content aside nav.join a:hover {opacity:1;color:#fff;}
#content aside nav.join a h2 {font-style:normal;font-size:2.6em;line-height:1.2em;padding-top:95px;background-color:transparent;}
#content aside nav.join a p {margin-top:0; color: #d2f4ff;}
#content aside nav.join a p:hover {text-decoration:underline; color: #fff;}

time {margin-top:0;font-weight:700;color:#999;}
time + h3 {margin-top:0 !important;}
p time {font-size:1em;}
.lead-in {text-align:right;margin-bottom:1.5em}
.more {font-style:italic;}
#credits {text-align:center;margin-bottom:1.5em;}
#content .info {color:#181818;font-weight:700;}

/* @group Navigation */
nav#site ul {margin:0;font-size:10px;/* reset context */}
nav#site li {display:inline;margin-right:3em;}
nav#site a {font-size:1.6em;/* 16px */font-weight:700;line-height:1.125em;/* 18px */
margin-top:1.125em;margin-bottom:0em;color:#666;text-decoration:none;}
nav#site a:hover, nav#site .current a {color:#18b6e6;background-color:transparent;}
nav#member {color:#aaa;}
nav#member a.logged_out {color:#fff;font-style:italic;text-transform:lowercase;text-decoration:none;padding:.5em 1em .5em 3em;background:#18b6e6 url(/images/css/bg-member.png) no-repeat left center;-webkit-transition:background-color 200ms ease-in-out;-o-transition:background-color 200ms ease-in-out;}
nav#member a.logged_out:hover {color:#fff;background-color:#11a9d4;}

nav#breadcrumbs ul { font-style: italic; }
nav#breadcrumbs li.current { color: #18b6e7; }
nav#breadcrumbs a { color: #666; text-decoration: none; }
nav#breadcrumbs a:hover { color: #444; text-decoration: underline;}

footer p,
footer nav#supp a {color:#999;text-decoration:none;}
footer nav#supp a:hover {color:#18b6e6;}
#site_info, 
#site_info p, 
#site_info p a, 
#site_info p a.button /* for Chrome */ {color:#fff !important;}
/* @end */

.confirm { display: inline-block; background-color: #a2e212; color:#fff; padding: 3px 12px 2px 12px;}

/* @end */

/* @group Forms */

form{margin-top: 1.8em;}
form fieldset {margin:0 0 10px 0;}
label {display:block;color:#333; font-size: 1.1em; font-weight:500;line-height:1.8em;margin:0 0 3px 0;text-shadow:0 -1px 0 rgba(216,238,249,.38);}
label.error {text-transform:none;color:#ca0000;}
input,textarea,select {font-size:1.2em;color:#493419;background:#fcfcfc;border:1px solid #a8a8a8;padding:4px 3px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-webkit-transition:all 388ms ease-out;-o-transition:all 388ms ease-out; width: 25em;}
input:focus,textarea:focus {background:#fcfcf1;border-right-color:#edede4;border-bottom-color:#edede4;}
a.button {display:inline-block;}
input.submit, .button {width:auto !important;color:#fff;font-size:1em;border:none;background:#222 url(/images/css/bg-submit.png) repeat-x;padding:.6em 1.7em;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-webkit-transition:background-color 200ms ease-in-out;-o-transition:background-color 200ms ease-in-out;text-decoration:none;}
input.submit:hover, 
.button:hover {background-color:#111;cursor:pointer;}
/* @end */

/* @group Tables */

table {margin-top: 1.8em; margin-left: 2em;}
section.members table {margin-top: 0; margin-left: 3em;}
tr.odd {background-color: #f2f2f2;}

th, td {padding: .3em .83em;} 
section.members thead th {text-align: center; width: 7.95em;}
section.members thead {padding-bottom: 1em;}
section.board th, 
section.members tbody th {width: 12em;}
section.members tbody td {text-align: center; color: #666;}
th.meta {font-weight: 500; color: #aaa; border-bottom: 1px solid #ddd;}

/* @end */

/* @group Utility */
.hide {display:block;text-indent:-9999px;}
.remove {display:block;position:absolute;top:-9999px;}
.group:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
/* @end */